body {
  background-color: #e28968;
  width: 2800px;
  height: 1696px;
}
.container {
  width: 1900px;
  height: 930px;
  margin: 0 auto;
  text-align: center;
}
.title {
  text-shadow: 3px 3px 0 #fcfaf7;
  color: #393a3a;
  font-family: "Bazar";
  font-size: 70px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin: 70px auto 10px auto;
}
.line {
  color: #393a3a;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 30px auto 10px auto;
  width: 400px;
}
.line::before {
  content: " ";
  display: inline-block;
  background-color: #393a3a;
  width: 70px;
  height: 2px;
  vertical-align: middle;
}
.line::after {
  content: " ";
  display: inline-block;
  background-color: #393a3a;
  width: 70px;
  height: 2px;
  vertical-align: middle;
}
.description {
  height: 30px;
  color: #38353e;
  font-family: "Oswald";
  font-size: 32px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin: 10px auto 70px auto;
}
.tags_container {
  display: flex;
  text-align: center;
  margin: 50px auto 30px auto;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: #383a3c;
}
.filter_text {
  font-size: 32px;
  line-height: 22px;
  margin-top: 12px;
  margin-right: 20px;

  color: #383a3c;
  font-family: "Roboto Slab";
}
.tag {
  display: flex;
}
.triangle_left {
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-right: 26px solid #fbfaf6;
  border-bottom: 24px solid transparent;
}
.rectangle {
  display: flex;
  background-color: #fbfaf6;
  width: auto;
  height: 48px;
  background: #fbfaf6;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}
.point {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #959ca3;
  margin-top: 20px;
  margin-right: 24px;
}
.tags_name {
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
  margin-top: 6px;
}

.card_item {
  width: 25%;
  height: 440px;
  background-color: #ffffff;
  padding: 8px 8px 30px 8px;
  box-sizing: border-box;
  margin-left: -30px;
  margin-right: -30px;
}
.media {
  height: 320px;
  background-color: #e3dfd7;
}
.info {
  color: #383a3c;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 22px;
  text-align: center;
}
.icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
  margin: -15px auto 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.cards {
  width: 1800px;
  height: 930px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer {
  text-align: center;
  font-size: 28px;
  font-family: "Oswald";
  font-weight: 700;
  color: #38353e;
}
.upperline {
  display: inline-block;
  background-color: #393a3a;
  width: 80px;
  height: 4px;
  text-align: center;
  margin-top: 50px;
}
