.product-container {
  width: 400px;
}

.products {
  margin-top: 80px;
}
.products .grid{
  margin: 0;
}
.products__header {
  display: flex;
  justify-content: space-between;
}

.products-title {
  margin-bottom: 30px;
}

.products .container {
  padding: 0;
}

.product-img {
  background-image: url(product.jpg);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-body {
  display: flex;
  justify-content: space-between;
}

.icon-black {
  fill: black;
}

.product-counters {
  padding-top: 18px;
}

.product-body {
  font-weight: normal;
  font-size: 16px;
}

.arrow {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 5px;
}

.disabled {
  opacity: .3;
}

.arrow--left {
  transform: rotate(180deg) translateY(-4px);
}

.products__actions {
  margin-right: 70px;
}