.container {
  background-color: #e2e7ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.cards {
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: sans-serif;
}
.big {
  display: flex;
  background-image: url(images/Layer_8.png);
  max-width: 740px;
  min-height: 540px;
  flex: 66.66%;
  margin-bottom: 20px;
  align-items: flex-end;
}
.small {
  max-width: 360px;
  min-height: 540px;
  display: flex;
  flex: 33.33%;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
}
.title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  max-width: 450px;
  margin-left: 40px;
}
.data {
  color: #818181;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin: 25px auto 10px 25px;
}
.info {
  color: #1d1d1d;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  text-align: left;
  margin-left: 25px;
}
.icon {
  max-width: 54px;
  min-height: 54px;
  margin: 20px auto 10px 25px;
}
